.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-link {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  margin-inline-start: auto;
}

.login-link a {
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.register-form {
  margin: auto;
  width: 50%;
}

.register-form :is(label, button) {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.input {
  border-right: none;
}

.input-icon {
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  color: #4e4e4e;
}

@media screen and (max-width: 767px) {
  .register-form {
    width: 90%;
    margin-top: 5rem;
  }
}
