.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../assets/small-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 2.6rem;
}

.banner-text {
  width: 80%;
}

.btn-outline-light {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .banner {
    height: 22rem;
  }

  .banner-text {
    width: 95%;
    margin-top: auto;
    margin-bottom: 2.5rem;
  }
}
